.DS_Store
.next/
.next*
node_modules/
.env
.env.local
.env.sentry-build-plugin
.env.production
.env.development
.env.test
coverage
dist/
exports/
prisma/dev.db
.vercel/
.env*.local
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
playwright-report/
test-results/
public/two-man-export-font.woff2
